/*---------------------------Home Page---------------------------------------*/
header{
    position: relative;
    width: 100vw;
    height: 70px;
}
header>section>nav{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;

}
header>section>nav>ul{
    padding: 0;
    margin: 0;
}
header>section>nav>ul>li{
    display: inline-block;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    margin-right: 50px;
    font-size: 20px;
}
header>section>nav>ul>li>a {
    color: rgb(80, 80, 80); /* Change font color to gray */
    text-decoration: none; /* Remove underline from links */
}
header>section>nav>ul>li>a:hover {
    color: black; /* Change font color to black on hover */
}

#logo {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 30px; /* Adjust the left position as needed */
}

#logo img {
    width: 80px;
    height: 80px;
}
.pdetails>img{
    position: absolute;
    top: 120px; /* Adjust the top position as needed */
    right: 100px; /* Adjust the distance from the right side */
    width: auto; /* Maintain aspect ratio */
    height: 600px;

}
#hello{
    padding-top: 150px;
    padding-bottom: 20px;
    font-family: "Gotu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-left: 50px;
    color: rgb(128, 128, 128);

}
#iam{

    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    margin-left: 50px;
    color: #6F5D85;
}
#fsd{
    /*margin-top: 50px;*/
    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 38px;
    margin-left: 50px;
    color: #6F5D85;
}
#janani{
    font-family: "Libre Baskerville", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 42px;
    margin-left: 30px;
    color: #6F5D85;
}
#homeP{
    padding-top: 40px;
    font-family: "Averia Serif Libre", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    color: rgb(128, 128, 128);
}
#homePcontainer{
    width: 1000px;
    height: 200px;
    margin-left: 40px;
    margin-bottom: 60px;


}
#download{
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin-left: 40px;
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    background-color: #CC00FF;
    font-size: 18px;
    color: white;


}
#download:hover{
    background-color: white;
    color: #CC00FF;
    border: 3px solid #CC00FF;
    cursor: pointer;
}
#hireme:hover{
    background-color: white;
    color: #CC00FF;
    border: 3px solid #CC00FF;
    cursor: pointer;
}
#hireme{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin-left: 20px;
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    background-color: #CC00FF;
    font-size: 18px;
    color: white;

}

.pdetails{
    position: relative;
}
.home{
    width: 100vw;
    height: 100vh;

}

.Menu {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 30px; /* Adjust the right position as needed */
}

.Menu img {
    width: 30px; /* Adjust the width of the menu icon */
    height: 30px; /* Adjust the height of the menu icon */
    display: none;
}
/*----------------------media queries-----------------------------*/

@media (max-width: 1440px) {
    header>section>nav>ul>li {
        margin-right: 30px; /* Adjust margin for menu items */
    }

    .pdetails>img {
        width: 450px; /* Adjust width of profile photo */
        top: 170px; /* Adjust top position of profile photo */
        right: 70px; /* Adjust right position of profile photo */
        height: auto; /* Maintain aspect ratio */
    }

    #hello {
        padding-top: 100px; /* Adjust padding top */
        font-size: 24px; /* Adjust font size */
    }

    #iam {
        font-size: 30px; /* Adjust font size */
    }

    #fsd {
        font-size: 32px; /* Adjust font size */
    }

    #janani {
        font-size: 36px; /* Adjust font size */
    }

    #homeP {
        font-size: 28px; /* Adjust font size */
    }

    #homePcontainer {
        width: 700px;
        height: 300px;
        margin-left: 40px;
        margin-bottom: 80px;
    }

    #download {
        font-size: 16px; /* Adjust font size */
        width: 180px; /* Adjust button width */
        margin-bottom: 150px;
        position: absolute;
        top: 570px;
        left: 200px;
    }

    #hireme {
        font-size: 16px; /* Adjust font size */
        width: 180px; /* Adjust button width */
        margin-bottom: 150px;
        position: absolute;
        top: 570px;
        left: 20px;
    }
}

@media (max-width: 1024px) {
    header>section>nav>ul>li {
        margin-right: 20px;
    }

    .pdetails>img {
        width: 280px;
        top: 170px;
        right: 40px;
        height: auto;
    }

    #hello {
        padding-top: 100px;
        font-size: 20px;
    }

    #iam {
        font-size: 24px;
    }

    #fsd {
        font-size: 26px;
    }

    #janani {
        font-size: 28px;
    }

    #homeP {
        font-size: 28px;
    }
    #homePcontainer{
        width: 600px;
        height: 300px;
        margin-left: 40px;
        margin-bottom: 60px;
    }

    #download{
        font-size: 14px;
        width: 150px;
        margin-bottom: 150px;
        position: absolute;
        top: 500px;
        left: 180px;
    }
    #hireme {
        font-size: 14px;
        width: 150px;
        margin-bottom: 150px;
        position: absolute;
        top: 500px;
        left: 20px;
    }
}
@media (max-width: 770px) {
    header>section>nav>ul>li {
        margin-right: 20px; /* Adjust margin for menu items */
    }

    .pdetails>img {
        width: 280px; /* Adjust width of profile photo */
        top: 250px; /* Adjust top position of profile photo */
        right: 40px; /* Adjust right position of profile photo */
        height: auto; /* Maintain aspect ratio */
    }

    #hello {
        padding-top: 130px; /* Adjust padding top */
        font-size: 20px; /* Adjust font size */
    }

    #iam {
        font-size: 24px; /* Adjust font size */
    }

    #fsd {
        font-size: 26px; /* Adjust font size */
    }

    #janani {
        font-size: 22px; /* Adjust font size */
    }

    #homeP {
        font-size: 28px; /* Adjust font size */
    }

    #homePcontainer {
        width: 400px;
        height: 500px;
        margin-left: 40px;
        margin-bottom: 60px;
    }

    #download {
        font-size: 14px; /* Adjust font size */
        width: 150px; /* Adjust button width */
        margin-bottom: 150px;
        position: absolute;
        top: 620px;
        left: 180px;
    }

    #hireme {
        font-size: 14px; /* Adjust font size */
        width: 150px; /* Adjust button width */
        margin-bottom: 150px;
        position: absolute;
        top: 620px;
        left: 20px;
    }
}

@media (max-width: 425px) {
    header>section>nav {
        display: none; /* Hide the nav bar */
    }
    #logo {
        position: absolute;
        top:0; /* Adjust the top position as needed */
        left: 0; /* Adjust the left position as needed */
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    .Menu img {
        display: inline-block; /* Display the menu image */
        width: 30px; /* Adjust width of the menu image */
        height: 30px; /* Adjust height of the menu image */
    }

    /* Adjustments for other elements as needed */
    .pdetails>img {
        /* Adjust styles for profile photo */
        width: 330px;
        top: 140px;
        left: 50px;
        height: auto;
    }

    #hello {
        /* Adjust styles for greeting */
        padding-top: 80px;
        font-size: 20px;
        position: absolute;
        left: 0px;
        top: -80px;
    }

    #iam {
        /* Adjust styles for name */
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: 0px; /* Ensure both are aligned to the left */
    }

    #janani {
        /* Adjust styles for name */
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: 80px; /* Adjust the left position for spacing */
    }


    #fsd {
        /* Adjust styles for designation */
        font-size: 16px;
        position: absolute;
        top: 75px;
        left: 0px;
    }

    #homeP {
        /* Adjust styles for description */
        font-size: 16px;
    }

    #homePcontainer {
        /* Adjust styles for container */
        width: 330px;
        height: 350px;
        margin-left: 20px;
        margin-bottom: 40px;
        position: absolute;
        top: 420px;
        left: 20px;
    }

    #download {
        /* Adjust styles for download button */
        font-size: 12px;
        width: 120px;
        margin-bottom: 100px;
        position: absolute;
        top: 600px;
        left: 180px;
    }

    #hireme {
        /* Adjust styles for hire me button */
        font-size: 12px;
        width: 120px;
        margin-bottom: 100px;
        position: absolute;
        top: 600px;
        left: 50px;
    }
}
@media (max-width: 565px) {
    header>section>nav {
        display: none; /* Hide the nav bar */
    }
    #logo {
        position: absolute;
        top:0; /* Adjust the top position as needed */
        left: 0; /* Adjust the left position as needed */
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    .Menu img {
        display: inline-block; /* Display the menu image */
        width: 30px; /* Adjust width of the menu image */
        height: 30px; /* Adjust height of the menu image */
    }

    /* Adjustments for other elements as needed */
    .pdetails>img {
        /* Adjust styles for profile photo */
        width: 300px;
        top: 140px;
        left: 70px;
        height: auto;
    }

    #hello {
        /* Adjust styles for greeting */
        padding-top: 80px;
        font-size: 20px;
        position: absolute;
        left: -20px;
        top: -60px;
    }

    #iam {
        /* Adjust styles for name */
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: -20px; /* Ensure both are aligned to the left */
    }

    #janani {
        /* Adjust styles for name */
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: 60px; /* Adjust the left position for spacing */
    }


    #fsd {
        /* Adjust styles for designation */
        font-size: 16px;
        position: absolute;
        top: 85px;
        left: -20px;
    }

    #homeP {
        /* Adjust styles for description */
        font-size: 20px;
    }

    #homePcontainer {
        /* Adjust styles for container */
        width: 400px;
        height: 350px;
        margin-left: 20px;
        margin-bottom: 40px;
        position: absolute;
        top: 385px;
        left: 10px;
    }

    #download {
        /* Adjust styles for download button */
        font-size: 14px;
        width: 130px;
        margin-bottom: 100px;
        position: absolute;
        top: 590px;
        left: 200px;
    }

    #hireme {
        /* Adjust styles for hire me button */
        font-size: 14px;
        width: 130px;
        margin-bottom: 100px;
        position: absolute;
        top: 590px;
        left: 30px;
    }

}

@media (max-width: 375px) {
    header>section>nav {
        display: none; /* Hide the nav bar */
    }
    #logo {
        position: absolute;
        top:0; /* Adjust the top position as needed */
        left: 0; /* Adjust the left position as needed */
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    .Menu img {
        display: inline-block; /* Display the menu image */
        width: 30px; /* Adjust width of the menu image */
        height: 30px; /* Adjust height of the menu image */
    }

    /* Adjustments for other elements as needed */
    .pdetails>img {
        /* Adjust styles for profile photo */
        width: 300px;
        top: 120px;
        left: 33px;
        height: auto;
    }

    #hello {
        /* Adjust styles for greeting */
        padding-top: 80px;
        font-size: 20px;
        position: absolute;
        left: -20px;
        top: -80px;
    }

    #iam {
        /* Adjust styles for name */
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: -20px; /* Ensure both are aligned to the left */
    }

    #janani {
        /* Adjust styles for name */
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: 60px; /* Adjust the left position for spacing */
    }


    #fsd {
        /* Adjust styles for designation */
        font-size: 16px;
        position: absolute;
        top: 75px;
        left: -20px;
    }

    #homeP {
        /* Adjust styles for description */
        font-size: 16px;
    }

    #homePcontainer {
        /* Adjust styles for container */
        width: 300px;
        height: 350px;
        margin-left: 20px;
        margin-bottom: 40px;
        position: absolute;
        top: 365px;
        left: 10px;
    }

    #download {
        /* Adjust styles for download button */
        font-size: 12px;
        width: 120px;
        margin-bottom: 100px;
        position: absolute;
        top: 540px;
        left: 145px;
    }

    #hireme {
        /* Adjust styles for hire me button */
        font-size: 12px;
        width: 120px;
        margin-bottom: 100px;
        position: absolute;
        top: 540px;
        left: 30px;
    }
}